ml/data/raw/
*.wav
*.flac
*.zip
!ml/data/protocols/real_speech_in_room.wav
!ml/data/protocols/real_speech_in_smallroom.wav

backend/

ml/data/protocols/asvspoof2021_combined_index.csv
ml/data/protocols/asvspoof2021_df_index.csv
ml/data/protocols/asvspoof2021_la_index.csv
ml/data/protocols/asvspoof2021_pa_index.csv

__pycache__/
*.pyc